#graph
{
	position: fixed;
	top: 110px;
	right: 10px;
	width: 300px;
	height: 300px;
}

.table{
	table-layout:fixed;word-wrap:break-wrod;word-break:break-all;
	border-collapse:collapse;
}

.table thread tr:first-child
{
	width:50;
}

